<section class="page__share">
  {% if site.data.ui-text[site.locale].share_on_label %}
  <h4 class="page__share-title">
    {{ site.data.ui-text[site.locale].share_on_label | default: "Share on" }}
  </h4>
  {% endif %}

  <div>
    <ul
      style="
        border-left: 3px solid #ff2a2a;
        list-style: none;
        margin: 2em 0 0;
        padding: 0.5em 1em;
        color: #555;
        font-family: 'Lato', 'PingFang SC', 'Microsoft YaHei', sans-serif;
        font-size: 1em;
        line-height: 2;
      "
    >
      <li><strong>本文作者： </strong>wengsy150943</li>
      <li>
        <strong>版权声明： </strong>本博客所有文章除特别声明外，均采用
        <a
          href="https://creativecommons.org/licenses/by-nc-sa/4.0/deed.zh"
          rel="noopener"
          target="_blank"
          ><i class="fa fa-fw fa-creative-commons"></i>BY-NC-SA</a
        >
        许可协议。转载请注明出处！
        <a
          rel="license"
          href="http://creativecommons.org/licenses/by-nc-sa/4.0/"
        >
          <img
            alt="Creative Commons License"
            style="border-width: 0"
            src="https://i.creativecommons.org/l/by-nc-sa/4.0/88x31.png"
          />
        </a>
      </li>
    </ul>
  </div>
</section>
